<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Site-tab definitions -->
    <meta name="title" content="LIC - Loja de Informatica | LIC">
    <meta name="description" content="Loja expecializada em produtos de informatica">
    <meta property="og:title" content="LIC - Loja de Informatica | LIC">
    <meta property="og:description" content="Loja expecializada em produtos de informatica">
    <meta name="theme-color" content="#2c3e50">
    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Fonte do site-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab:wght@100;200;500&display=swap"
        rel="stylesheet">
    <!-- Tab-Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/LIC_Informatica3.png">
    <!-- Background color-->
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <main id="main">
        <!--Header layout-->
        <nav class="py-2 bg-light border-bottom">
            <div class="container d-flex flex-wrap">
                <img alt="lefters" src="static/LIC_Informatica3.png" width="80" height="50">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="/" class="nav-link link-dark px-2" aria-current="page">Home</a>
                    </li>
                </ul>
                <ul>
                    {% if session['log_in'] == True or session['log_in_admin'] == True or session['log_in_fornecedor']
                    == True %}
                    <a
                        class="nav-link link-dark px-10 py-2 btn_smalsize sub_titulo aligncenter">{{session['username']}}</a>
                    {% elif session['log_in'] == False and session['log_in_admin'] == False or session['log_in'] == null
                    or session['log_in_admin'] == null%}
                    <form action="login" method="post">
                        <ul class="nav">
                            <li class="nav-item"><a href="/user-login" class="nav-link link-dark px-2">Login</a>
                            </li>
                            <li class="nav-item"><a href="/sign-up" class="nav-link link-dark px-2">Sign up</a></li>
                        </ul>
                    </form>
                    {% endif%}
                </ul>
            </div>
        </nav>
        <ul>
            {% if session['log_in'] == True or session['log_in_admin'] == True or session['log_in_fornecedor'] == True
            %}
            <div class="header col-2 offset-9 ">
                <nav class="nav">
                    <a class="nav-link py-1 px-0" href="/user-login/carrinho">
                        <img action="submit" alt="centered image" href="/user-login/carrinho" rel="icon lefters"
                            type="image/png" src="/static/carrinho-de-compras.png" height="55" width="55">
                    </a>
                    <a class="nav-link py-1 px-2 " href="/logout">
                        <img action="submit" alt="centered image" src="/static/logout.png" height="55" width="55">
                    </a>
                </nav>
            </div>
            {% endif%}
        </ul>
        <div class="container">
            <a href="/">
                <p class="aligncenter" width="300" height="300">
                    <img alt="centered image" src="static/LIC_Informatica.png" width="900" height="300">
                </p>
            </a>
        </div>

        <div class="col-12 my-auto" style="margin-left: auto">
            <nav class="row col-sm-10 offset-1">
                <div class="aligncenter">
                    <div class="card">
                        <h2 class="btn_links titulo"> Produtos </h2>
                        <nav class="row container-fluid row-cols-5 col-auto">
                            {%for produtos in todos_os_produtos%}
                            <div class="card  row-cols-auto">
                                <ul>
                                    <div class="aligncenter col-row-2">
                                        <dt>{{produtos[1]}}</dt>
                                    </div>
                                    <div class="aligncenter">
                                        <dt><a href="{{url_for('.show_room',code_prod=produtos[0]) }}">
                                                <img class="fit-picture " src="{{produtos[10]}}" height="200"></a>
                                        <dt>{{ '%.2f' % produtos[5] }} € </dt>
                                        </dt>
                                    </div>
                                    
                                        <div class="btn-group">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <form action="{{url_for('.show_room',code_prod=produtos[0]) }}"
                                                    method="get">
                                                    <button type="submit"
                                                        class="btn btn-sm btn-outline-secondary">Buy</button>

                                                    {% if session['log_in_admin'] == True%}
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-secondary">Edit</button>
                                                    {%endif%}
                                                </form>
                                            </div>
                                        </div>
                                    
                                </ul>
                            </div>{%endfor%}

                            <div>
                                <ul>
                                    {% if session['log_in_admin'] == True%}
                                    <div class="card  row-cols-auto">
                                        <div class="aligncenter col-row-2 justify-content-between d-flex">
                                            <dt>Criar Novo produto</dt>
                                        </div>
                                        <div class="aligncenter card-body">
                                            <dt><a href="{{url_for('.criar_produto')}}">
                                                    <img class="fit-picture" src="static/add_prod.png" height="200">
                                                </a></dt>
                                        </div>
                                        <p></p>
                                    </div>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <p></p>
        {%if session['log_in_admin'] == True%}
        <div class="col-12 my-auto" style="margin-left: auto" methods="get">
            <nav class="row col-sm-10 offset-1">
                <div class="aligncenter">
                    <div class="card">
                        <h2 class="btn_links titulo"> Fornecedores </h2>
                        <nav class="row container-fluid row-cols-1 col-auto">
                            <table class="tbl-cart " cellpadding="10" cellspacing="1">
                                <tbody>
                                    <tr>
                                        <th style="text-align:center;">Nome Fornecedor</th>
                                        <th style="text-align:center;">ID</th>
                                        <!--<th style="text-align:center;">Lucro</th>-->
                                        <th style="text-align:right;" width="5%">Despesas</th>
                                        <th style="text-align:right;" width="10%">Contacto</th>
                                        <th style="text-align:right;" width="10%">Email</th>
                                        <th style="text-align: center;" width="5%">Lucro</th>
                                        <th style="text-align:left;" width="10%">NIF</th>
                                    </tr>

                                    {%for fornecedor in lista_de_fornecedores%}
                                    {% set id_fornecedor = fornecedor[0] %}
                                    {% set email_fornecedor = fornecedor[1] %}
                                    {% set fornecedor_name = fornecedor[2] %}
                                    {% set desp_fornecedor = fornecedor[3] %}
                                    {% set contacto = fornecedor[4] %}
                                    {% set numero_IF = fornecedor[5] %}
                                    {% set lucro_fornecedor = fornecedor[]%}



                                    <tr>
                                        <td style="text-align:center;">{{ fornecedor_name }}</td>
                                        <td style="text-align:center;">{{ id_fornecedor }}</td>
                                        <!--<td style="text-align:right;" width="5%"></td>-->
                                        <td style="text-align:right;" width="5%">{{'%.2f' % desp_fornecedor }}€</td>
                                        <td style="text-align:right;" width="10%">{{ contacto }}</td>
                                        <td style="text-align:right;" width="10%">{{ email_fornecedor }}</td>
                                        <td style="text-align:right;" width="5%">{{ lucro_fornecedor }}</td>
                                        <td style="text-align:center;" width="5%">{{ numero_IF }}</td>
                                    </tr>
                                </tbody>{%endfor%}
                            </table>
                            <p></p>
                        </nav>
                    </div>
                </div>
            </nav>{%endif%}
            <p></p>
            <div class="col-12 my-auto" style="margin-left: auto" methods="get">
                <nav class="row col-sm-10 offset-1">
                    <div class="aligncenter">
                        <div class="card">{%if session['log_in_admin'] == True%}
                            <h2 class="btn_links titulo"> Armazem </h2>
                            
                            <nav class="row container-fluid row-cols-1 col-auto">
                                <table class="tbl-cart " cellpadding="10" cellspacing="1">
                                    <tbody>
                                        <tr>
                                            <th style="text-align:left;">Disponibilidade</th>
                                            <th style="text-align:center;">Nome Produto</th>
                                            <th style="text-align:center;">ID</th>
                                            <th style="text-align:right;" width="5%">Stock</th>
                                            <th style="text-align:right;" width="10%">Vendidos</th>
                                            <th style="text-align:right;" width="10%">Fornecedor</th>
                                            <th style="text-align:center;" width="5%">Lucro</th>
                                        </tr>
                                        {%for produto in todos_os_produtos%}

                                        {% set id_produto = produto[0] %}
                                        {% set nome_produto = produto[1] %}
                                        {% set em_stock = produto[2] %}
                                        {% set vendidos = produto[3] %}
                                        {% set nome_fornecedor = produto[7] %}
                                        {% set id_fornecedor = produto[-1]%}
                                        {% set encomenda = produto[11]%}
                                        {% set lucro = produto[3]*(produto[5]-produto[4]) %}
                                        <tr>
                                            {%if em_stock > 10:%}
                                            <td style="text-align:center;">Disponivel</td>
                                            {%elif em_stock <= 10: %} <td style="text-align: center;">
                                                <form action="/encomendas" method="post">
                                                    <input type="hidden" name="id_produto" value="{{id_produto}}" />
                                                    <input type="text" class="quantidade-produto" name="quantidade"
                                                        value="1" size="2" />
                                                    <input type="submit" class="btnAddAction" value="Encomendar" />
                                                </form>
                                                </td>
                                                {%endif%}
                                                <td style="text-align:center;">{{nome_produto}}</td>
                                                <td style="text-align:center;">{{ id_produto }}</td>
                                                <td style="text-align:right;" width="5%">{{ em_stock }}</td>
                                                <td style="text-align:right;" width="5%">{{ vendidos }}</td>
                                                <td style="text-align:right;" width="10%">{{ nome_fornecedor }}</td>
                                                <td style="text-align:center;">{{'%.2f' % lucro }}€</td>

                                        </tr>{%endfor%}<p></p>
                                    </tbody>

                                </table>
                            </nav>
                            {% elif session['log_in_fornecedor'] == True %}
                            <nav class="row container-fluid row-cols-1 col-auto">
                                <table class="tbl-cart " cellpadding="10" cellspacing="1">
                                    <tbody>
                                        <tr>
                                            <th style="text-align:center;">Nome Produto</th>
                                            <th style="text-align:center;">ID</th>
                                            <th style="text-align:right;" width="5%">Stock</th>
                                            <th style="text-align:right;" width="10%">Vendidos</th>
                                            <th style="text-align:right;" width="10%">Fornecedor</th>
                                            <th style="text-align:center;" width="5%"> Encomendas </th>
                                            <th style="text-align:center;" width="5%">Fornecer</th>
                                        </tr>
                                        {%for produto in todos_os_produtos%}
                                        {% if produto[12] == session['id'] %}

                                        {% set id_produto = produto[0] %}
                                        {% set nome_produto = produto[1] %}
                                        {% set em_stock = produto[2] %}
                                        {% set vendidos = produto[3] %}
                                        {% set nome_fornecedor = produto[7] %}
                                        {% set id_fornecedor = produto[12]%}
                                        {% set encomenda = produto[11]%}
                                        <tr>
                                            <td style="text-align:center;">{{nome_produto}}</td>
                                            <td style="text-align:center;">{{ id_produto }}</td>
                                            <td style="text-align:right;" width="5%">{{ em_stock }}</td>
                                            <td style="text-align:right;" width="5%">{{ vendidos }}</td>
                                            <td style="text-align:right;" width="10%">{{ nome_fornecedor }}</td>
                                            <td style="text-align:center;">{{ encomenda }}</td>
                                            {%if encomenda > 0 : %}
                                            <td style="text-align:center;">
                                                <form action="/encomendas" method="post">
                                                    <input type="hidden" name="id_produto" value="{{id_produto}}" />
                                                    <input type="text" class="quantidade-produto" name="quantidade"
                                                        value="{{encomenda}}" size="2" />
                                                    <input type="submit" class="btnAddAction" value="Enviar" />
                                                </form>
                                            </td>
                                            {% else: %}
                                            <td style="text-align:center;">Sem Encomendas</td>
                                            {% endif %}


                                        </tr>
                                        {%else:%}{{pass}}

                                        {%endif%}
                                    </tbody>
                                    {%endfor%}
                                </table>
                                {%endif%}<p></p>
                            </nav>

                        </div>
                    </div>
                </nav>
            </div>

            <p></p>
        </div>
    </main>
</body>