
#titulo{
    text-align:center;
}
body{
    background: rgb(33,147,176);
    background: linear-gradient(90deg, #000000 , #0082c8 ,#0082c8,#000000);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
}

img{
    max-width: 90%;
    max-height: 50%;
    object-fit: scale-down;
}

.aligncenter{
    text-align:center;
}

.alignright{
    text-align:right;
}

.alignleft{
    text-align:left;
}

.title{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
}

.sub_titulo{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
    font-size:large;
}

.btn_links{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
    background-color:rgb(33, 147, 176);
    color:rgb(255, 255, 255);
}

.btn_smalsize{
    font-size: smaller;
}
/* Popup container */
.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 78%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }