
#titulo{
    text-align:center;
}
body{
    background: rgb(33,147,176);
    background: linear-gradient(90deg, #000000 , #0082c8 ,#0082c8,#000000);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
}

img{
    max-width: 90%;
    max-height: 50%;
    object-fit: scale-down;
}

.aligncenter{
    text-align:center;
}

.alignright{
    text-align:right;
}

.alignleft{
    text-align:left;
}

.title{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
}

.sub_titulo{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
    font-size:large;
}

.btn_links{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
    background-color:rgb(33, 147, 176);
    color:rgb(255, 255, 255);
}

.btn_smalsize{
    font-size: smaller;
}


