
.title{
    font-family: 'Permanent Marker', cursive;
    color: #375a7f;
}

.tarefa_feita{
    text-decoration: line-through;
    color: black;
}

body {
    background-image: url('13e46fmoa5w71.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}